@import '../../../../../variables';

.wrapper-message {
   display: flex;
   flex-direction: row-reverse;
   padding: 10px 0;

   &-input {
      justify-content: flex-start;

      .message-text {
         background: #C2CDDD 0% 0% no-repeat padding-box;
      }
   }

   &-agent {
      justify-content: flex-end;

      .message-text {
         background: #EFF2F7 0% 0% no-repeat padding-box;
      }
   }

   .message {
      display: flex;
      align-items: center;
      width: 60%;

      // Smartphone
      @media (max-width: $screen-xs-max) {
         width: 100%;
      }

      .avatar {
         width: 55px;
         margin: -15px 5px 0px 5px;

         img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
         }
      }

      .box {
         width: 100%;

         .wrapper-up {

            .user {
               font-size: 14px;
               text-align: left;
               font: normal normal bold 14px/18px Univers LT Std;
               letter-spacing: 0px;
               color: #0E141A;
               opacity: 1;
            }

            .time {
               float: right;
               font: normal normal normal 12px/18px Univers LT Std;
               letter-spacing: 0px;
               color: #667790;
               opacity: 1;
            }
            
         }

         .message-text {
            padding: 15px;
         }
      }
   }

   .message p {
      border-radius: 0.25em;
      padding: 0.5em;
      margin-bottom: 1em;
   }
    
   .message.agent {
      position: relative;
   
      p {
         background-color: var(--primary);
         color: var(--txt-light);
         border-radius: 4px;
      }
   }
   
   .message.input {
      position: relative;
      flex-direction: row-reverse;
   
         p {
            background-color: var(--secondary);
            text-align: right;
            color: var(--txt-light);
         }
   }   

}
