@import '../../../../../variables';

.wrapper-message {
   display: flex;
   flex-direction: row-reverse;
   padding: 10px 0;

   &-input {
      justify-content: flex-start;

      .message {
         position: relative;
         flex-direction: row-reverse;
      } 

      .message-text {
         background: $border 0% 0% no-repeat padding-box;

         &::before {
            content: "";
            position: absolute;
            visibility: visible;
            top: 0px;
            right: -8px;
            border: 10px solid transparent;
            border-top: 10px solid $border;
         }
      }
   }

   &-agent {
      justify-content: flex-end;

      .message {
         position: relative;
      }

      .message-text {
         background: $background 0% 0% no-repeat padding-box;

         &::before {
            content: "";
            position: absolute;
            visibility: visible;
            top: 0px;
            border: 10px solid transparent;
            border-top: 10px solid $background;
            left: -8px;
         }
      }
   }

   .message {
      display: flex;
      width: 60%;

      // Smartphone
      @media (max-width: $screen-xs-max) {
         width: 100%;
      }

      .avatar {
         width: 55px;
         margin: 5px 5px 0px 5px;

         img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
         }
      }

      .box {
         width: 100%;

         .wrapper-up {

            .user {
               font-size: 14px;
               text-align: left;
               font-family: 'Univers LT Bold';
               letter-spacing: 0px;
               color: $user;
               opacity: 1;
            }

            .time {
               float: right;
               letter-spacing: 0px;
               color: $time;
               opacity: 1;
            }
            
         }

         .message-text {
            padding: 15px;
            position: relative;
         }
      }
   }

}
