<div class="wrapper-message" [ngClass]="message?.nickname === 'adelloste' ? 'wrapper-message-input' : 'wrapper-message-agent'">
    <div class="message" [ngClass]="message?.nickname === 'adelloste' ? 'input' : 'agent'">
        <div class="avatar">
            <img class="img-circle avatar" alt="chat avatar" src="{{ message?.image }}">
        </div>
        <div class="box">
            <div class="wrapper-up">
                <span class="user">{{ message?.name }} {{ message?.surname }}</span>
                <span class="time">{{ message?.date | date:'M/d/yyyy h:mm' }}</span>
            </div>
            <div class="message-text-wrapper">
                <div class="message-text">
                    {{ message?.message }}
                </div>
            </div>
        </div>
    </div>
</div>

