@import "../../../../../variables";
 
.chat-messages-create-container {
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 1%;
   background: $background 0% 0% no-repeat padding-box;
   opacity: 1;

   .input-box {
      background: $white 0% 0% no-repeat padding-box;
      border: 1px solid $border;
      border-radius: 3px;
      opacity: 1;
   }

   .btn-box {
      width: 90px;
      border-radius: 4px;
      opacity: 1;
   }
}
