<div class="chat-messages">
    <div class="chat-messages-show-container">
        <en-message
            *ngFor="let message of messages"
            [message]="message"></en-message>
    </div>
    <div class="chat-messages-create-container">
        <form [formGroup]="chatForm" (ngSubmit)="send()" novalidate>
            <div class="form-group">
                <label class="sr-only" for="message">Chat</label>
                <input type="text" class="form-control input-box" id="message" placeholder="Enter note about the precess" formControlName="message">
            </div>
            <button type="submit" class="btn btn-primary btn-box">Publish</button>
        </form>
    </div>
</div>