<div class="container">
    <div class="row">
        <div class="col-12">
            


            <div class="chat-messages">
                <div class="chat-messages-show-container">
                    <ul class="chat-messages-show-list">
                    </ul>
                </div>
                <div class="chat-messages-create-container">
                    <input class="chat-messages-create-input" type="text">
                    <button class="chat-messages-create-button" (click)="SendMessage()"> Send </button>
                </div>
            </div>
            


        </div>
    </div>
</div>
