$white: #FFFFFF;
$border: #C2CDDD;
$time: #667790;
$background: #EFF2F7;
$black: #000000;
$user: #0E141A;
$primary: #D3135A;

$theme-colors: (
  "primary": #D3135A
);

// Media queries
$screen-xs-max : "767px";
$screen-sm-min : "768px";
$screen-sm-max : "991px";
$screen-md-min : "992px";
$screen-md-max : "1199px";
$screen-lg-min : "1200px";