$white: #FFFFFF;
$border: #C2CDDD;
$b: #FFFFFF00;
$c: #0E141A1A;
$d: #667790;
$background: #EFF2F7;
$f: #00000029;
$black: #000000;
$g: #0E141A;
$h: #CACFD5;
$btn: #D3135A;

$theme-colors: (
  "primary": #D3135A
);

// Media queries
$screen-xs-max : "767px";
$screen-sm-min : "768px";
$screen-sm-max : "991px";
$screen-md-min : "992px";
$screen-md-max : "1199px";
$screen-lg-min : "1200px";