@import "variables";
@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Univers LT Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Univers LT Roman'), url('./assets/fonts/Univers LT 55 Roman.woff') format('woff');
}

@font-face {
    font-family: 'Univers LT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Univers LT Bold'), url('./assets/fonts/Univers LT 65 Bold.woff') format('woff');
}

body, html {
    height: 100%;
    font-family: 'Univers LT Roman';
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #0E141A1A 0% 0% no-repeat padding-box;
}

::-webkit-scrollbar-thumb {
    background: #667790 0% 0% no-repeat padding-box;
    border-radius: 10px;
}
